.list-item{
    text-decoration: none;
    list-style-type: none;
    // text-align: center;
    color: white;
    padding-left: 50px;
}

.event-name{
    color: orange;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    padding-left: 30px;
    padding-right: 30px;
}
.price{
    font-size: 27px;
}