.event-image{
    height: 100vh;
    overflow: hidden;
    width: 630px;
}

.logo{
    width: 170px;
    height: 150px;
}
.btn{
    position: relative;
    left: 270px;
}

.event-tag{
    // width: 50vw;
     padding: 70px;
}
.custom{
    font-size: 27px;
    font-style: italic;
    line-height: 37px;
    
}
.tag{
    font-size: 30px;
    font-style: italic;
    line-height: 37px;
}
.company-name{
    font-size: 35px;
}