

<div class="container-fluid">
    <div class="row">
        <div class="row">
                   <div class="col-md-12 col-lg-6">
                       <img src="assets/images/logo.jpg" class="logo">
                     
                           <button class="btn btn-dark m-2" style="height: 40px;" (click)="loginUser()">Login</button>
                           <button class="btn btn-dark m-2" style="height: 40px;" (click)="onRegister()">Register</button>
                      
                       <div class="event-tag col-lg-12 col-md-12 col-sm-12">
                        <p class="custom">Custom planning for all your Occassions.</p>
                        <p class="tag">Celebrate your Happiness with<span class="company-name"><br>Evento</span></p>
                    </div>
                   </div>
                    

                   <div class="col-md-12 col-lg-6">
                    <img src="assets/images/event.webp" class="event-image">
                </div>
           
           
           
    </div>
    </div>
 </div>

