<div class="container-fluid" style="background-color: #333;">
    <h3 class="text-center text-white p-4 fw-bold pt-5" style="font-size: 26px;">OUR <span style="color: orange; font-size: 26px; ">SERVICES</span></h3>
       <div class="col-lg-12">
            <div class="row justify-content-center">

                
                <div class="card col-lg-3 m-4" style="background-color: black; width: 20rem;">
                    <div class="box p-3 justify-content-center card-body">
                        <i class="bi bi-geo-alt-fill" style="color: red; font-size: 50px; padding-left: 100px;"></i>
                        <h4 class="text-center p-2" style="color: orange;">Venue Selection</h4>
                        <p class="text-white p-3 info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dolore. Quisquam natus odit ipsam dolorem provident sed, optio ut. Expedita vitae neque repudiandae dignissimos corporis ducimus molestias soluta ipsam accusantium?</p>
                    </div>
                </div>
                <div class="card col-lg-3 m-4"  style="background-color: black;width: 20rem;">
                    <div class="box p-3">
                        <i class="bi bi-envelope-heart"  style="color: red; font-size: 50px; padding-left: 100px;"></i>
                        <h4 class="text-center p-2" style="color: orange;">Invitation Card</h4>
                        <p class="text-white p-3 info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dolore. Quisquam natus odit ipsam dolorem provident sed, optio ut. Expedita vitae neque repudiandae dignissimos corporis ducimus molestias soluta ipsam accusantium?</p>
                    </div>
                </div>
                <div class="card col-lg-3 m-4" style="background-color: black;width: 20rem;">
                    <div class="box p-3">
                        <i class="bi bi-music-note-beamed" style="color: red; font-size: 50px;padding-left: 100px;"></i>
                        <h4 class="text-center p-2" style="color: orange;">Entertainment</h4>
                        <p class="text-white p-3 info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dolore. Quisquam natus odit ipsam dolorem provident sed, optio ut. Expedita vitae neque repudiandae dignissimos corporis ducimus molestias soluta ipsam accusantium?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
           <div class="row justify-content-center">
            <div class="card col-lg-3 m-4" style="background-color: black; width: 20rem;">
                <div class="box p-3">
                    <i class="bi bi-apple" style="color: red; font-size: 50px; padding-left: 100px;"></i>
                    <h4 class="text-center p-2" style="color: orange;">Food and Drinks</h4>
                    <p class="text-white p-3 info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dolore. Quisquam natus odit ipsam dolorem provident sed, optio ut. Expedita vitae neque repudiandae dignissimos corporis ducimus molestias soluta ipsam accusantium?</p>
                </div>
            </div>
            <div class="card col-lg-3 m-4"  style="background-color: black; width: 20rem;">
                <div class="box p-3">
                    <i class="bi bi-camera-fill"  style="color: red; font-size: 50px; padding-left: 100px;"></i>
                    <h4 class="text-center" style="color: orange;">Photos and Videos</h4>
                    <p class="text-white p-3 info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dolore. Quisquam natus odit ipsam dolorem provident sed, optio ut. Expedita vitae neque repudiandae dignissimos corporis ducimus molestias soluta ipsam accusantium?</p>
                </div>
            </div>
            <div class="card col-lg-3 m-4" style="background-color: black; width: 20rem;">
                <div class="box p-3">
                    <i class="bi bi-cake2-fill" style="color: red; font-size: 50px; padding-left: 100px;"></i>
                    <h4 class="text-center pt-1" style="color: orange;">Custom Foods</h4>
                    <p class="text-white p-3 info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dolore. Quisquam natus odit ipsam dolorem provident sed, optio ut. Expedita vitae neque repudiandae dignissimos corporis ducimus molestias soluta ipsam accusantium?</p>
                </div>
            </div>
           </div>
        </div> 
       
</div>