
<div class="container-fluid bg-dark">
    <footer class="py-5">
      <div class="row ">
        <div class="col-6 col-md-2 mb-3 ps-5 justify-content-center">
          <h5 class="ps-2" style="font-size: 20px; color: orange;">Branches</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0"><i class="bi bi-geo-alt-fill pe-1" style="color: orange"></i>Mumbai</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0"><i class="bi bi-geo-alt-fill pe-1" style="color: orange"></i>Kolkata</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0"><i class="bi bi-geo-alt-fill pe-1" style="color: orange"></i>Delhi</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0"><i class="bi bi-geo-alt-fill pe-1" style="color: orange"></i>Hyderabad</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0"><i class="bi bi-geo-alt-fill pe-1" style="color: orange"></i>Chennai</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3 ps-5 justify-content-center">
          <h5 class="ps-2" style="font-size: 20px; color: orange;">Quick Links</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i class="bi bi-arrow-right pe-2" style="color: orange;"></i>Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i class="bi bi-arrow-right pe-2" style="color: orange;"></i>Service</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i class="bi bi-arrow-right pe-2" style="color: orange;"></i>About</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i class="bi bi-arrow-right pe-2" style="color: orange;"></i>Price</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i class="bi bi-arrow-right pe-2" style="color: orange;"></i>Contact</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3 ps-5 justify-content-center">
          <h5 class=" ps-2" style="font-size: 20px; color:orange">Contact Us</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i class="bi bi-telephone-fill pe-2" style="color: orange;"></i>+123-456-7890</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i class="bi bi-telephone-fill pe-2" style="color: orange;"></i>+111-222-3333</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i class="bi bi-envelope pe-2" style="color: orange;"></i>Shekhar@gmail.com</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i class="bi bi-envelope pe-2" style="color: orange;"></i>Anusha@gmail.com</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i class="bi bi-geo-alt-fill pe-2" style="color: orange"></i>Mumbai,India</a></li>
          </ul>
        </div>
  
        <div class="col-md-5 offset-md-1">
          <form>
            <p class="text-white">For any queries</p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <button class="btn btn-warning" type="button">Send</button>
            </div>
          </form>
        </div>
      </div>
  
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p class="text-white ">© 2023 Company, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
      </div>
    </footer>
  </div>
 